<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
    {% load static%}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav>
        <!-- Навигация -->
    </nav>

    <div class="container logout-container">
        <p>You have been logged out.</p>
        <a href="{% url 'home' %}">Go to Home</a>
        <a href="{% url 'login'}">Login again</a>
    </div>
</body>
</html>
